body {
  font-family: sans-serif;
}

#snakeboard {
  /*position: absolute;*/
}
#score {
  text-align: center;
  font-size: 25px;
  float: left;
}
#restart {
  float: right;
}
.header, .game {
  width: 100%;
  text-align: center;
}
.buttons {
  text-align: center;
}
button {
  font-size: 16px;
  padding: 10px;
}
#oben {

}
#unten {

}
#links {
  left: 0;
}
#rechts {
  right: 0;
}